body {
  margin: 0;
  font-family: 'NanumSquareR';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'NanumSquareR';
}

@font-face {
  font-family: 'NanumSquareR';
  src: url('./assets/NanumSquareR.ttf');
}
